body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
    background-color: #f4f4f9; 
    padding-top: 50px;
}

h1 { color: #333; }
.button-container { margin-top: 30px; }

.open-button, .close-button { 
    padding: 20px 40px; 
    border-radius: 10px; 
    cursor: pointer; 
    border: none;
    font-size: 18px;
    margin: 10px;
    transition: 0.3s;
}
.open-button { 
    background-color: #28a745; 
    color: white; 
}
.close-button { 
    background-color: #dc3545; 
    color: white; 
}

.open-button:hover, .close-button:hover { opacity: 0.8; transform: scale(1.05); }

#status-container { margin-bottom: 20px; font-size: 1.2em; }
#status { font-weight: bold; color: orange; }
